html {
  box-sizing: border-box;
  background: #eeeeee;
  font-family: 'helvetica neue';
  
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
}


/* body.fixed-nav .site-wrap {
  transform: scale(0.5);
} */

/* header {
  text-align: center;
  height: 50vh;
  background: url(https://source.unsplash.com/GKN6rpDr0EI/960x640) bottom center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  font-size: 7vw;
  text-shadow: 3px 4px 0 rgba(0,0,0,0.2);
} */


/* navabar */
nav {
  background: rgb(15, 27, 155);
  top: 0;
  width: 100%;
  transition:all 0.5s;
  position: relative;
  z-index: 1;
}
body.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px 0 rgba(0,0,0,0.1);
}
nav ul {
    height: 60px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
nav li {
  flex: 1;
  margin-top: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
li.logo {
  max-width: 0;
  overflow: hidden;
  background: white;
  transition: all 0.5s;
  font-weight: 600;
  font-size: 30px;
}
li.logo a {
  color: rgb(15, 27, 155);
  text-decoration: underline;
}
li.logo a:hover{
  color: rgb(15, 27, 155);}
.fixed-nav li.logo {
  max-width: 500px;
}
nav a {
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  transition: all 0.3s;
}
nav a:hover{
  text-decoration: none;
  color: white;
  transform: translateY(-3px);
}


/* header */

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 15% 100%);
  height: 25vh;
  text-align: center;
  background-color: rgb(121, 121, 179);
} 
.quote{
  color: #fff;
  font-size: 35px;
  font-family: Jazz LET, fantasy;
}

/* caroussal */
.carousel-inner{
height: 80vh;
}
/* about us */
span{
  color: rgb(60,55,221);
}
.aboutus{
 padding: 1% 20%;
 text-align: center;
}
.box {
  --size: 50px;
  --b: 10px;
  --p: 25px;
  
  --_g: #0000 calc(99% - var(--b)),#000 calc(101% - var(--b)) 99%,#0000 101%;
  -webkit-mask:
    radial-gradient(55.9px at left 50% bottom calc(-1*var(--p)),var(--_g)) 
      calc(50% - 2*var(--size)) 50%/calc(4*var(--size)) calc(var(--size) + var(--b)) repeat-x,
    radial-gradient(55.9px at left 50% top    calc(-1*var(--p)),var(--_g)) 
      50%                       50%/calc(4*var(--size)) calc(var(--size) + var(--b)) repeat-x;
  background: linear-gradient(90deg,rgb(170, 166, 166),blue);
  height:50px;
}
.aboutus:hover{
border-radius: 10px;
box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  
}
.aboutus h1{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.aboutus p{
  font-size: 18px;
}
.name{
  text-decoration: underline;
  font-weight: bold;
 text-transform: uppercase;
}

.motto{
  color: black;
  font-weight: bold;
}
/* Our services */
.img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 125px;
  border-radius: 100%;
  background-color: #8c7de0;
  transition: 0.3s;
}
.img:hover{
  transform: scale(0.9);
}
.imag{
  height: 50px;
  width: 50px; 
}
.heading{
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-top: 8px;
}
.our-services{
  text-align: center;
  padding: 3% 10%;
}
.col{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: #ccc;
  padding: 20px;
}
.bttn{
  padding: 5px;
  margin-top: 25px;
  width: 15rem;
  background-color: #8c7de0;
  border-radius: 5px;
  border: solid 1px #8c7de0;
}
.route{
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
}
.bttn:hover{
  background-color: white;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.route:hover{
  color: #8c7de0;
  text-decoration: none;

}
  /*contact us starts */
.contact
{
    background-image:url('images/cont.jpg');
    background-position: center;
    background-size: cover;
}

.form h2{
    color:  rgb(61, 7, 238);
    font-weight: bold;
    font-family: 'Snell Roundhand, cursive';
}

.form{
    background-color: white;
    padding: 20px;
}
.form input{
    text-align: left;
    margin-bottom: 15px;
}
.button{
    color: white;
    background-color: rgb(61, 7, 238);
    padding: 10px;
    border: hidden;
    border-radius: 5px;
}
.contents{
    font-family:' URW Chancery L, cursive';
}
textarea{
    width: 100%;
    text-align: left;
    border-color: #ccc;
}
/* .row{
    display: flex;
    justify-content: space-evenly;
} */


/* footer */
.icons i{
    color:rgb(61, 7, 238) ;
}
